# Checkpoint 1 - Gráficos, Estatísticas e Análise Exploratória

### Instruções:

- Neste Jupyter Notebook há 10 questões de Análise Exploratória. Cada questão possui uma pontuação indicada em vermelho, somando 10 pontos ao final;
- O CP é em grupo, o mesmo grupo do Challenge;
- Preencham o nome de cada membro do grupo corretamente;
- Coloque seu código solução logo abaixo de cada questão que ele responde;
- Use células markdown para escrever respostas que forem pedidas ou que você achar pertinentes;
- Você pode e **deve** usar bibliotecas prontas. Ao importar uma biblioteca, comente na frente para o que ela serve;
- Antes de submeter o jupyter no Teams, renomeie-o para **CP1-turma-NomeSobrenome.ipynb** onde **turma** deve ser trocado pela turma do grupo (H,A,J,F,G) e o NomeSobrenome trocado pelo nome e sobrenome do aluno que submeter o arquivo.

### Atenção:
Vocês podem usar trechos de códigos prontos, entretanto é pouco provável que dois grupos tenham códigos **totalmente iguais**, nas mesmas sequências com as mesmas respostas. Caso for constatada semelhança exagerada entre dois arquivos que indique **plágio**, a nota  <font color='red'> será zerada!</font>

## Grupo [nome do grupo] Turma: J
- **Nome:** Henrique Ferreira **RM:**
- **Nome:** nome sobrenome **RM:**
- **Nome:** nome sobrenome **RM:**
- **Nome:** nome sobrenome **RM:**
- **Nome:** nome sobrenome **RM:**
- **Nome:** nome sobrenome **RM:**

------------------------------

## Fifa 2019

No arquivo data_fifa2019.csv há dados de jogadores de futebol inseridos no jogo eletrônico Fifa.

Vocês devem realizar aquilo que é pedido em cada Exercício.

Mais informações sobre esse conjunto de dados pode ser obtida aqui [Fifa 2019](https://www.kaggle.com/karangadiya/fifa19).

### 1) Importe as bibliotecas necessárias e carregue os dados do arquivo 'data_fifa2019.csv' em um pandas dataframe e respoda <font color='red'>(0.5 ponto)</font>:

(a) Quantos jogadores existem nessa base da dados?

(b) Quantos atributos de cada jogador são avaliados?

(c) Quantos desses atributos são numéricos e quantos são categóricos?

In [2]:
import pandas as pd
import numpy as np

In [3]:
dados = pd.read_csv('C:/Users/admin/Documents/Fiap/IA/PyJup/data_fifa2019.csv',sep=',')

In [4]:
print(dados)

       Unnamed: 0      ID                Name  Age  \
0               0  158023            L. Messi   31
1               1   20801   Cristiano Ronaldo   33
2               2  190871           Neymar Jr   26
3               3  193080              De Gea   27
4               4  192985        K. De Bruyne   27
...           ...     ...                 ...  ...
18202       18202  238813        J. Lundstram   19
18203       18203  243165  N. Christoffersson   19
18204       18204  241638           B. Worman   16
18205       18205  246268      D. Walker-Rice   17
18206       18206  246269           G. Nugent   16

                                                Photo Nationality  \
0      https://cdn.sofifa.org/players/4/19/158023.png   Argentina
1       https://cdn.sofifa.org/players/4/19/20801.png    Portugal
2      https://cdn.sofifa.org/players/4/19/190871.png      Brazil
3      https://cdn.sofifa.org/players/4/19/193080.png       Spain
4      https://cdn.sofifa.org/players/4/19/192985.png     Belgium
...                                               ...         ...
18202  https://cdn.sofifa.org/players/4/19/238813.png     England
18203  https://cdn.sofifa.org/players/4/19/243165.png      Sweden
18204  https://cdn.sofifa.org/players/4/19/241638.png     England
18205  https://cdn.sofifa.org/players/4/19/246268.png     England
18206  https://cdn.sofifa.org/players/4/19/246269.png     England

                                      Flag  Overall  Potential  \
0      https://cdn.sofifa.org/flags/52.png       94         94
1      https://cdn.sofifa.org/flags/38.png       94         94
2      https://cdn.sofifa.org/flags/54.png       92         93
3      https://cdn.sofifa.org/flags/45.png       91         93
4       https://cdn.sofifa.org/flags/7.png       91         92
...                                    ...      ...        ...
18202  https://cdn.sofifa.org/flags/14.png       47         65
18203  https://cdn.sofifa.org/flags/46.png       47         63
18204  https://cdn.sofifa.org/flags/14.png       47         67
18205  https://cdn.sofifa.org/flags/14.png       47         66
18206  https://cdn.sofifa.org/flags/14.png       46         66

                      Club  ... Composure Marking StandingTackle  \
0             FC Barcelona  ...      96.0    33.0           28.0
1                 Juventus  ...      95.0    28.0           31.0
2      Paris Saint-Germain  ...      94.0    27.0           24.0
3        Manchester United  ...      68.0    15.0           21.0
4          Manchester City  ...      88.0    68.0           58.0
...                    ...  ...       ...     ...            ...
18202      Crewe Alexandra  ...      45.0    40.0           48.0
18203       Trelleborgs FF  ...      42.0    22.0           15.0
18204     Cambridge United  ...      41.0    32.0           13.0
18205      Tranmere Rovers  ...      46.0    20.0           25.0
18206      Tranmere Rovers  ...      43.0    40.0           43.0

       SlidingTackle GKDiving  GKHandling  GKKicking  GKPositioning  \
0               26.0      6.0        11.0       15.0           14.0
1               23.0      7.0        11.0       15.0           14.0
2               33.0      9.0         9.0       15.0           15.0
3               13.0     90.0        85.0       87.0           88.0
4               51.0     15.0        13.0        5.0           10.0
...              ...      ...         ...        ...            ...
18202           47.0     10.0        13.0        7.0            8.0
18203           19.0     10.0         9.0        9.0            5.0
18204           11.0      6.0         5.0       10.0            6.0
18205           27.0     14.0         6.0       14.0            8.0
18206           50.0     10.0        15.0        9.0           12.0

      GKReflexes Release Clause
0            8.0        €226.5M
1           11.0        €127.1M
2           11.0        €228.1M
3           94.0        €138.6M
4           13.0        €196.4M
...          ...            ...
18202        9.0          €143K
18203       12.0          €113K
18204       13.0          €165K
18205        9.0          €143K
18206        9.0          €165K

[18207 rows x 89 columns]

### 2) Faça uma função para arrumar os valoresda coluna Value dos jogadores. <font color='red'>(0.75 ponto)</font>

Você deve fazer uma função que recebe uma string e converte a string para um float, que representa o valor do jogador em euros. Lembre que **K** significa 1000 e **M** significa 1000000. O símbolo de euro é **€**. Não esqueça de forçar o tipo float.

Após criar a função, aplique-a a coluna de dados 'value' do seu dataframe e obtenha em uma coluna o valor de cada jogador.

In [5]:
print(dados['Value'])

0        €110.5M
1           €77M
2        €118.5M
3           €72M
4          €102M
          ...
18202       €60K
18203       €60K
18204       €60K
18205       €60K
18206       €60K
Name: Value, Length: 18207, dtype: object

In [6]:
def arrumar_value(x):
    dados_str = x
    value_float = float(dados_str)
    return value_float

In [7]:
dados['Value'] = dados['Value'].apply(arrumar_value)

ValueError: could not convert string to float: '€110.5M'

In [20]:
arrumar_value(valor)

TypeError: cannot convert the series to <class 'float'>

### 3) Usando a função overall_classes, crie uma coluna denominada 'Performance' com as classes de jogadores baseado no valor da coluna 'Overall'. Gere uma distribuição (histograma) com a Performance de todos os jogadores e outra com a coluna Overall. Compare as duas. <font color='red'>(0.75 ponto)</font>

In [12]:
# Criando três classes baseado no Overall
# A função recebe um valor e retorna uma classe categórica da performance do jogador (Low, Normal, High)
def overall_classes(x):
    if x < 60:
        return 'Baixa'
    if x < 75:
        return 'Normal'
    return 'Alta'

In [14]:
print(dados['Overall'])

0        94
1        94
2        92
3        91
4        91
         ..
18202    47
18203    47
18204    47
18205    47
18206    46
Name: Overall, Length: 18207, dtype: int64

In [17]:
over = dados['Overall']
print(over)
overall_classes(over)

0        94
1        94
2        92
3        91
4        91
         ..
18202    47
18203    47
18204    47
18205    47
18206    46
Name: Overall, Length: 18207, dtype: int64

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
fig, axes = plt.subplots(1, 2, figsize=(10, 4))
fig.suptitle('Todos os Dados')

sns.histplot(ax=axes[0],
            data=dados['Jogadores'],
            kde=True,
            bins=10,
            linewidth=0.7,
            )

sns.histplot(ax=axes[1],
            data=dados['Jogadores'],
            kde=True,
            bins=10,
            linewidth=0.7,
            )

axes[0].set(xlabel='Jogadores', ylabel='Performance')
axes[1].set(xlabel='Jogadores', ylabel='Overall')

### 4) Em relação a idade (Age) dos jogadores, calcule a média aritmética e a incerteza da média: <font color='red'>(1 ponto)</font>

(a) Todos os jogadores

(b) Jogadores de Alta Performance

(c) Jogadores de Performance Normal

(d) Jogadores de Baixa Performance

In [ ]:
# Coloque seu código aqui

### 5) Faça um gráfico de barras com as médias calculadas no exercício 4. Inclua as incertezas como barras de erro associadas a cada barra de valor. Você terá que olhar na documentação do matplotlib! <font color='red'>(1 ponto)</font>

In [ ]:
# Coloque seu código aqui

### 6) Repita os exerícios 4 e 5 fazendo para a coluna de valor (Value) dos jogadores. <font color='red'>(0.75 ponto)</font>

In [ ]:
# Coloque seu código aqui

### 7) Faça um gráfico boxplot da idade e do valor dos jogadores onde cada boxplot é uma classe de performance. O que você pode interepretar desse gráfico? <font color='red'>(1 ponto)</font>

In [ ]:
# Coloque seu código aqui

### 8) Faça um gráfico de dispersão entre idade e valor. Considere gerar um gráfico para todos os jogadores, e 3 gráficos para cada classe de performance. Existe algum padrão? <font color='red'>(1 ponto)</font>

Dica: use o eixo de valor em escala logarítmica.

In [ ]:
# Coloque seu código aqui

### 9) Em relação a nacionalidade e ao clube dos jogadores, responda: <font color='red'>(2 pontos)</font>

(a) Qual é o país com o maior número de jogadores na classe de Alta Performance? E de performance Normal e Baixa?

(b) Qual é o país com maior média de idadade dos jogadores? E qual é o país com menor média?

(c) Qual é o clube com o maior número de jodarores na classe de Alta Performance?

(d) Qual é o clube mais valioso em termos de valor de jogadores? E o menos valioso? Qual é a média e desvio padrão amostral de valor dos clubes?

(e) Plote um histograma do valor dos clubes (soma do valor dos jogadores do clube); 

**Dica:** Use a função groupby do Pandas encadeada com funções de média, soma e contagem (mean, sum, count).

In [ ]:
len(set(data['Nationality'])) # Número de paises

In [ ]:
# Coloque seu código aqui

### 10) Pergunta aberta <font color='red'>(1.25 pontos)</font>:

Após analisar todos os dados, você conseguiria traçar uma estratégia de investimento para lucrar com algum time? 

Quais são as características dos times de alta performance?

Você acha possível analisar usando apenas idade e valor, ou precisaria usar outros dados da base da dados disponível?

*coloque sua resposta aqui*